<html><head></head>
<body style="background:#eee; padding: 1em 2em; font-family:sans-serif;">

<h1>Microticks</h1>

<a href="dash">Latest sessions</a>

<h3>GET /sessions</h3>
<p>
    Get sessions, optionally filtered by date, IP and consumer ID. Examples:
</p>
<ul>
    <li>
    <a href="./sessions?ip=129.240.239.173&date={{today}}">/sessions?ip=129.240.239.173&date={{today}}</a>
    </li>
    <li>
        <a href="./sessions?ip=129.240.239.173&consumer=4">/sessions?ip=129.240.239.173&consumer=4</a>
    </li>
</ul>

<h3>GET /events</h3>
<p>
    Get events, optionally filtered by date and IP. Examples:
</p>
<ul>
    <li>
      <a href="./events?ip=129.240.239.173&date={{today}}">/events?ip=129.240.239.173&date={{today}}</a>
    </li>
</ul>
<h3>POST /sessions</h3>
<p>
    Start a new session and get a session token.
</p>
<pre>

    Form data:
        consumer_key: string
        ts: timestamp (2017-02-27T16:18:57.657Z)

    Returns:
        {'status': 200, 'token': string}
</pre>

<h3>POST /sessions/stop</h3>

<p>Stop a session.</p>

<pre>

    Form data:
        token: string
        ts: timestamp (2017-02-27T16:18:57.657Z)

    Returns:
        {'status': 200}

</pre>

<h3>POST /events</h3>

    <p>Store a new event.</p>

<pre>

    Form data:
        token: the session token
        ts: timestamp (2017-02-27T16:18:57.657Z)
        action: e.g. 'click_book',
        data: 'book id or something else'

    Returns:
        {'status': 200, 'event_id': int}

</pre>

</body></html>
